.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
  margin: 0 20px;
  /* background-color: #72757a; */
  /* margin-inline: auto; */
}

.calendar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 400px;
  min-height: 400px;
}

.react-datepicker {
  width: 100%;
  max-width: 400px;
}

.react-datepicker__month-container {
  width: 100%;
  max-width: 400px;
  font-family: "Inter", "Arial", sans-serif;
}

.react-datepicker__header .react-datepicker__current-month {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.react-datepicker__header .react-datepicker__day-name {
  font-size: 16px;
  padding: 8px 12px;
  margin: 0;
}

.react-datepicker__week .react-datepicker__day {
  font-size: 16px;
  padding: 8px 12px;
  margin: 0;
}

.react-datepicker .react-datepicker__navigation {
  width: 100%;
  max-width: 40px;
  min-height: 40px;
}

.react-datepicker__week .react-datepicker__day--today {
  font-weight: 500;
}

.calendar__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  max-width: 250px;
  visibility: hidden;
}

.calendar__form_type_active {
  visibility: visible;
}

.calendar__form-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
}

.calendar__form-input {
  font-size: 16px;
  line-height: 1;
  min-height: 50px;
  padding: 5px;
  border: 1px solid #19b2e6;
  border-radius: 5px;
  outline: none;
}

.calendar__form-button {
  font-size: 1.8em;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 15px;
  padding: 13px 10px;
  color: rgba(255, 255, 255, 1);
  background-color: #19b2e6;
  border: none;
  border-radius: 10px;
  opacity: 1;
  transition: opacity .5s linear;
}

.calendar__form-button:hover {
  cursor: pointer;
  opacity: .7;
}

.calendar__form-button_type_save {
  background-color: #51ce4d;
}

.calendar__form-button_type_save:hover {
  cursor: default;
  opacity: 1;
}

@media (max-width: 1096px) {
  .calendar {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 148px;
  }

  .calendar__container {
    margin-top: 20px;
    max-width: 270px;
    min-height: 270px;
  }

  .react-datepicker__month-container {
    max-width: 270px;
    font-family: "Inter", "Arial", sans-serif;
  }

  .react-datepicker__header .react-datepicker__current-month {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .react-datepicker__header .react-datepicker__day-name {
    font-size: 14px;
    padding: 1px 5px;
    margin: 0;
  }

  .react-datepicker__week .react-datepicker__day {
    font-size: 14px;
    padding: 3px 5px;
    margin: 0;
  }

  .react-datepicker .react-datepicker__navigation {
    width: 32px;
    height: 32px;
  }

  .calendar__form {
    width: 30%;
    max-width: 300px;
  }

  .calendar__form-title {
    font-size: 16px;
  }

  .calendar__form-input {
    font-size: 14px;
  }

  .calendar__form-button {
    font-size: 1.6em;
  }
}

@media (max-width: 540px) {
  .calendar {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin-bottom: 78px;
  }

  .calendar__container {
    margin-top: 0;
    max-width: 300px;
    min-height: 230px;
  }

  .react-datepicker__month-container {
    max-width: 300px;
    font-family: "Inter", "Arial", sans-serif;
  }

  .react-datepicker__header .react-datepicker__current-month {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .react-datepicker__header .react-datepicker__day-name {
    font-size: 14px;
    padding: 0 7px;
    margin: 0;
  }

  .react-datepicker__week .react-datepicker__day {
    font-size: 14px;
    padding: 0 7px;
    margin: 0;
  }

  .react-datepicker .react-datepicker__navigation {
    width: 28px;
    height: 28px;
  }

  .calendar__form {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
  }

  .calendar__form-title {
    font-weight: 400;
  }
}

@media (max-width: 400px) {
  .calendar {
    margin-bottom: 38px;
  }
}